body {
    background-color: black;
}

.youtube-container {
    text-align: center;
    padding: 20px 0px 0px 0px;
}

.youtube-frame {
    aspect-ratio: 16/9;
}

.marathi-text {
    font-family: 'Noto Sans Devanagari';
    font-size: 18px;

}

.english-text {
    font-family: 'Calibri';
    font-size: 18px;
}