body {
    background-color: black;
}

.youtube-container {
    text-align: center;
    padding: 20px 0px 0px 0px;
}

.youtube-frame {
    width: 400px;
    height: 400px;
}

.marathi-text {
    font-family: 'Noto Sans Devanagari';
    font-size: 18px;

}

.english-text {
    font-family: 'Calibri';
    font-size: 18px;
}

.contact p {
    margin-top: 6px;
    margin-bottom: 6px;
}