body {
    background-color: black;
    margin: 0px;
}

.youtube-container {
    text-align: center;
    padding: 20px 0px 0px 0px;
}

.youtube-frame {
    width: 400px;
    height: 400px;
}

.marathi-text {
    font-family: 'Noto Sans Devanagari';
    font-size: 18px;

}

.english-text {
    font-family: 'Calibri';
    font-size: 18px;
}

.contact p {
    margin-top: 6px;
    margin-bottom: 6px;
}

.heading {
    font-family: "Lexend Giga";
}

.bg {
    background-color: #A0A0A0;
    font-family: Calibri;
    padding-top: 32px;
    padding-bottom: 32px;
    /* padding: 0px; */
    margin: 0px;
}